.App {
  font-family: sans-serif;
  text-align: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 150px;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card h3 {
  text-transform: capitalize;
}
